.advertising {
  padding-right: #{$page-side-padding};
  
  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    max-width: 400px;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    padding-bottom: 12px;

    &--word {
      white-space: nowrap;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    padding-bottom: 52px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    margin-top: auto;
  }

  @media(max-width: 768px) {
    & {
      padding-right: 0;
      flex-direction: column-reverse;
    }

    &__info {
      align-items: center;
      text-align: center;
    }
   
    &__title {
      font-size: 24px;
      line-height: 31px;
    }

    &__img {
      padding-bottom: 25px;
    }

    &__description {
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 46px;
    }
  }
}
