@font-face {
  font-family: "Sharp Sans No2";
  src: url("../fonts/Sharp Sans No2/Sharp Sans No2 Black.otf") format("opentype");
}

@font-face {
  font-family: "Sharp Sans No2";
  font-weight: 500;
  src: url("../fonts/Sharp Sans No2/Sharp Sans No2 Medium.otf") format("opentype");
}

@font-face {
  font-family: "Sharp Sans No2";
  font-weight: bold;
  src: url("../fonts/Sharp Sans No2/Sharp Sans No2 Bold.otf") format("opentype");
}
