$page-width: 1400px;
$title-text-indent: 20px;
$page-side-padding: 50px;
$small320-scr-side-padding: 20px;
$container-left-padding: 100px;
$contacts-col_2-padding: 100px;
$text-content-width: 380px;
$c-gray: #eee;
$main-green: #344f10;
$main-gray: #828282;
$main-dark-gray: #333;
$page-background: #e5e5e5;
$small-scr-block-indent: 100px;
$small320-scr-block-indent: 60px;
$big-scr-block-indent: 200px;
$page-top-padding-small: 25px;
$page-side-padding-small: 27px;
$vertical-size: 14px;
